akka {
  loglevel = INFO,
  loggers = [
    "Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"
  ]
}
akka.persistence.off {
  journal {
    plugin = "akka.persistence.journal.redis"
    redis {
      class = "Akka.Persistence.Redis.Journal.RedisJournal, Akka.Persistence.Redis"
      configuration-string = "redis:6379"
      database = 0
    }
  }
}